body {
    font-family: sans-serif;
}

.login-container {
    height: 100vh;
    background-color: #f8f9fa;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.login-card h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

.mt-6 {
    margin-top: 5rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mt-8 {
    margin-top: 10rem;
}