{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %} 


{% include 'logout.html' %}


<h1 class="text-center mt-8">Task Manager</h3>

<div class="d-flex justify-content-center">
    <form class="w-50" action="/" method="POST">
        <div class="form-group">
            <input type="text" class="form-control form-task-content" id="content" name="content" placeholder="Add a task...">
        </div>
        <div class="w-100 d-flex justify-content-center">
            <input type="submit" class="btn btn-outline-primary mt-3" value="Add Task">
        </div>
    </form>
</div>

<div class="d-flex flex-wrap justify-content-center mt-5">
    {% if tasks|length < 1 %}
        <h4 class="w-100 text-center">There are no tasks currently added.</h4>
        <h4 class="w-100 text-center">Add your first task above!</h4>
    {% else %}

        <div class="table-responsive w-50">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Task</th>
                        <th scope="col">UserId</th>
                        <th scope="col">Added</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>

                        <td>{{ task.content }}</td>
                        <td>{{ task.user_id }}</td>
                        <td>{{ task.date_created.date() }}</td>
                        <td>
                            {% if task.date_completed %}
                                {{ task.date_completed.date() }}
                            {% else %}
                                <p>N/a</p>
                            {% endif %}
                            
                        </td>
                        <td class="d-flex">
                            {% if current_user.admin == True %}
                            <a class="me-3" href="/delete/{{ task.id }}">
                                <i class="btn btn-outline-danger bi bi-trash"></i>
                            </a>
                            {% endif %}
                            <br>
                            <a class="me-3" href="/update/{{ task.id }}"> 
                                <i class="btn btn-outline-primary bi bi-pencil"></i>
                            </a>
                            <br>
                            <a href="/complete/{{ task.id }}"> 
                                <i class="btn btn-outline-success bi bi-check"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

{% endblock %}