{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %} 

{% include 'logout.html' %}

<h1 class="text-center mt-8">Update Task</h3>


<div class="d-flex justify-content-center">
    <form class="w-50" action="/update/{{task.id}}" method="POST">
        <div class="form-group">
            <input type="text" class="form-control form-task-content" id="content" name="content" value="{{task.content}}">
        </div>
        <div class="w-100 d-flex justify-content-center">
            <input type="submit" class="btn btn-outline-success mt-3" value="Update">
        </div>
    </form>
</div>

{% endblock %}